---

extends: default

ignore: |
  node_modules
  .next
  out
  .wrangler
  _results_
  terraform/.terraform

rules:
  line-length:
    ignore:
      /pnpm-lock.yaml
  document-start:
    ignore:
      /pnpm-lock.yaml
